<div>
 <h1>{{title}}</h1>
  <table width="40%" align="center" mat-table [dataSource]="datasource" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
            <th align="center" mat-header-cell *matHeaderCellDef> Name </th>
            <td  mat-cell *matCellDef="let element; index as id" (click)="goToItemDetail(element.category, element.page , id)"
             > {{element.name}} </td>
    </ng-container>      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"
    ></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" ></tr>    
</table>
</div>
<div style="padding-top: 3em">
    <button mat-raised-button color="accent" style="margin-right: 20px"
    (click)="onPreviousPage()" [disabled]="pageCount < 2">Previous</button>
    <button mat-raised-button color="primary" style="margin-right: 20px"
    (click)="onNextPage()" >Next</button> 
    <!-- <button (click)="onPreviousPage()" [disabled]="pageCount < 2">Previous</button> -->
    <!-- <button (click)="onNextPage()" >Next</button> -->
</div>
<div style="padding-top: 1em">
        <button mat-raised-button color="accent" style="margin-right: 20px"
        (click)="goToCategoryItems()" >Back to Categories</button>   
</div>
