<div>
        <table width="40%" align="center" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                        <th align="center" mat-header-cell *matHeaderCellDef> Category. </th>
                        <td  mat-cell *matCellDef="let element" 
                         > {{element.name}} </td>
                </ng-container>      
                <tr mat-header-row *matHeaderRowDef="displayedColumns"
                ></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [ngClass]="{highlighted: selectedRowIndex == row.name}"  (click)="highlight(row)"          
                  ></tr>    
        </table>
</div>