<h1>item-details title!</h1>
<img src="{{ picture }}" />

<table>
  <tbody style="border: 1px solid black;">
    <tr *ngFor="let entry of itemDetails | keyvalue" style="border: 1px solid black;">
      <td style="border: 1px solid black;">{{entry.key}}</td>
      <td style="border: 1px solid black;">
        <div *ngIf="isIterable(entry.value)">
            <table >
                <tr *ngFor="let prop of entry.value">
                    <td>{{prop}}</td>
                </tr>
              </table>
        </div>
        <div *ngIf="!isIterable(entry.value)">
          <td>{{entry.value}}</td>
        </div>       
      </td>     
    </tr>
  </tbody>
</table>

<button (click)="goBack()">Back to {{ category }}</button>
