img{
  width:220px;
  height:auto;
  margin-bottom: 2em;
  border: 2px solid #996515;
}

.grid-container {
    display: inline-grid;
    grid-template-columns: 120px 120px 120px 120px 120px;
  }

.propcol{
  border: 1px solid rgba(192, 192, 192, 0.582);
  width:30%;
  font-weight: bold;
  color:	#996515;
  background: #fff9fa
}

.goldtextcss {
  color: #D5AD6D; /*if no support for background-clip*/
  background: -webkit-linear-gradient(transparent, transparent),
  -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
  /* background: -o-linear-gradient(transparent, transparent); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  font-size: 300%
}

.tdstyle{
  border: 1px solid rgba(192, 192, 192, 0.582);
}


