<h1 class="goldtextcss">{{title}}</h1>
<img src="{{ picture }}" />

<table  width="60%" align="center" cellspacing="0" cellpadding="0" class="mat-elevation-z8">
  <tbody style="border: 1px solid black;">
    <tr *ngFor="let entry of itemDetails | keyvalue" style="border: 1px solid black;">
      <td class = "propcol">{{formatPropertyColumnText(entry.key)}}</td>
      <td  class ="tdstyle">
        <div *ngIf="isIterable(entry.value)">
              <div class="grid-container">
                <div *ngFor="let prop of entry.value" class ="tdstyle"> {{prop}}</div>
              </div>
        </div>
        <div *ngIf="!isIterable(entry.value)">
          <td>{{entry.value}}</td>
        </div>       
      </td>     
    </tr>
  </tbody>
</table>
<div style="padding-top: 1em">
    <button mat-raised-button color="warn" style="margin-right: 20px"
    (click)="goBack()" >Back to {{this.item['category'] ? this.item['category'] : 'Category'}}</button>   
</div>

