<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<p>Hello World</p>

<router-outlet></router-outlet>
<app-category-item (sendToParent)="receiveNameFromChild($event)"></app-category-item>
<p>{{receivedName}}</p>
<app-item-details></app-item-details>


<button (click)="goToCategoryItem()">Click to route</button>
<button (click)="goBack()">Go Back</button>

<button (click)="getCategoryItems()">Test Api</button>



