<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
<p>Hello World</p>

<router-outlet></router-outlet>

<app-category-item (sendToParent)="receiveNameFromChild($event)"></app-category-item>
<p>{{receivedName}}</p>
<app-item-details></app-item-details>


<button style="margin-right: 20px" mat-raised-button color="primary" margin-right="10" 
(click)="goToCategoryItem()">Click to route</button>
<span style="width: 10px"></span>
<button mat-raised-button color="primary" style="margin-right: 20px"
 (click)="goBack()">Go Back</button>

<button mat-raised-button color="accent" style="margin-right: 20px"
(click)="getCategoryItems()">Test Api getCategoryItems()</button>
<button mat-raised-button color="primary" style="margin-right: 20px"
(click)="getItemDetails()">Test Api getItemDetails()</button>



